<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Página de adicionar</h1>
</head>
<body>
    <form>
        <div>
            <a href="/">Voltar para a página principal</a>
          </div>
    </form>
</body>
</html>