<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Página principal</h1>
</head>
<body>
    <form>
        <div>
            <a href="/adicionar">Ir para a pagina de adicionar</a>
          </div>
    </form>
    
</body>
</html>